body {
	font-family: 'Arial', sans-serif;
	padding: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.loader {
	width: 100px;
	height: 100px;
	background: #ffffff;
	border: 10px solid #0d283b;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}