body {
	font-family: 'Arial', sans-serif;
	padding: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.loader {
	width: 100px;
	height: 100px;
	background: #ffffff;
	border: 10px solid #0d283b;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}

.counter {
	width: 100%;
	line-height: 100px;
	font-size: 24px;
	color: #000000;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
}